body {
    margin-top: 20px;
    background-color:dimgray;
    color:whitesmoke;
}



#chapter1{
    background-image:url(Images/chapter1.jpg)
}

#adventure-content{
    background-color:cornsilk;
    color:black;
    border-radius: 10px 10px 10px 10px;
}

.navbar-header{
    margin-left : 20px;
    margin-right : 60px;
}