@{
    ViewBag.Title = "Adventure Log";
}

<div id="chapter1">
    <br />
    <br />
    <br />
    <div class="container col-md-offset-4">
        <div id="adventure-content" class="col-lg-6">
            <h1>Chapter 1: Umber Isle</h1>
            <p>The adventurers woke up in a small little room, built at halfling size, in Harm’s end. After some quite tentative talks with the village elders and breaking and entering into an elves’ house, they discovered that their ship has been wrecked and put ashore down the coast and that there may be an elf that can help them near stonewatch keep on the other side of the island.</p>
            <p>The group are suspicious of Fardeller, their paladin, as he seems to have sustained a strange injury he is unwilling to discuss, but the druid quickly forgets about it cause he saw a massive tree.</p>
            <p>The tree of harn watches over the little village and the druid touched it and felt the spirit of harm flowing through it, giving him a boost. At this point a little girl asks Fardeller and the party to get her doll back from inside stonewatch keep where she dropped it.</p>
            <p>The group met up with the captain and they were pretty jonesing for a drink, but it appeared the crew have emptied the wine casks that were not smashed in the wreck so they swiftly moved on.</p>
            <p>Upon arriving at stonewatch keep they came to the house of Al-el, the elf they were sent to. After almost giving him a heart attack and the paladin nearly busting in a poor old elf’s door, he brings them in and tells them that if they require his help, they must destroy the dark orb that lies deep in the keep.</p>
            <p>The adventurers were still suspicious of him but they figure the DM hasn't given them another option so they agreed to destroy the orb.</p>
            <p>Upon entering the keep they came across some goblins relieving themselves, so the massive dragonborn stuck his head over the pile of rocks to have a peek cause he might be into that. They attack the goblins literally with their pants down and with some trickery from the wizard and some goblin piss on the paladin's shoe they easily prevailed.</p>
            <p>They dispatched the goblins easily and interrogated one to find out there in a necromancer in the dungeon, so to reward him for being helpful they threw him into a fiery death.</p>
            <p>The group took out some skeletons, the druid got some treasure because he's selfish like that, and they proceeded down towards the necromancer, fighting some more skeletons on the way.</p>
            <p>Having found a secret passageway allowing them to bypass a rather nasty room with some skeletons, they found the necromancer, successfully snuck into the room and missed him with an arrow, completely ruining their chance at a surprise. The necromancer called upon “Lolth” to help, looking at the large purple orb in front of him, in response a Minotaur skeleton was raised from the bones in the room.</p>
            <p>Knowing minotaurs are bad news, the paladin got right up in its rather large grill and took a swing at it. Then while the druid was between his legs and tried to set fire to some animated bones, the dragonborn positioned himself to unleash the torrent of his acid breath weapon, hurting the minotaur and effectively melting the necromancer. The party then dispatched of the skeleton before being very scared to go near the purple glowing orb, hearing whispers they could not understand coming from it.</p>
            <p>Eventually the barbarian smashed it and it was a big anticlimax.</p>
            <p>The adventurers met Al-el outside the keep who seems more energetic and can't thank them enough for what they've done. He told them they have destroyed an “eye of Lolth”, breaking her evil hold over the island and himself. He says he will help them with their ship but first they must get their rest back in Harm’s end.</p>
            <p>It was night when they arrive back and the little girl was asleep so they gave the doll to her parents, who placed it next to her in bed for when she wakes up. Laucian has put beds up for the adventurers in his house and they all go have a sleep, but there's still no alcohol around.</p>

        </div>
    </div>
</div>

